<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bookshop.Properties.Settings.bookshopConnectionString"
            connectionString="Data Source=(localDb)\Local3db6;Initial Catalog=bookshop;Integrated Security=True;Encrypt=True;TrustServerCertificate=true;MultiSubnetFailover=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>